<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>uploadTest</servlet-name>
        <jsp-file>/uploadtest.jsp</jsp-file>
    </servlet>

    <servlet>
        <servlet-name>Upload</servlet-name>
        <servlet-class>com.eweware.phototoss.Upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Serve</servlet-name>
        <servlet-class>com.eweware.phototoss.Serve</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUploadURL</servlet-name>
        <servlet-class>com.eweware.phototoss.api.GetUploadURL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadImage</servlet-name>
        <servlet-class>com.eweware.phototoss.api.UploadImage</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Upload</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Serve</servlet-name>
        <url-pattern>/serve</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>uploadTest</servlet-name>
        <url-pattern>/uploadTest</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>GetUploadURL</servlet-name>
        <url-pattern>/api/uploadURL</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>uploadImage</servlet-name>
        <url-pattern>/api/uploadImage</url-pattern>
    </servlet-mapping>


</web-app>