<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!-- SERVER JSP PAGES -->
    <servlet>
        <servlet-name>uploadTest</servlet-name>
        <jsp-file>/uploadtest.jsp</jsp-file>
    </servlet>

    <servlet>
        <servlet-name>tossTest</servlet-name>
        <jsp-file>/tosstest.jsp</jsp-file>
    </servlet>

    <servlet>
        <servlet-name>catchTest</servlet-name>
        <jsp-file>/catchtest.jsp</jsp-file>
    </servlet>

    <servlet>
        <servlet-name>createUserTest</servlet-name>
        <jsp-file>/createtest.jsp</jsp-file>
    </servlet>

    <servlet>
        <servlet-name>loginTest</servlet-name>
        <jsp-file>/signintest.jsp</jsp-file>
    </servlet>

    <servlet>
        <servlet-name>userImageTest</servlet-name>
        <jsp-file>/userimagetest.jsp</jsp-file>
    </servlet>

    <servlet>
        <servlet-name>statstest</servlet-name>
        <jsp-file>/statstest.jsp</jsp-file>
    </servlet>

    <servlet>
        <servlet-name>notifytestpage</servlet-name>
        <jsp-file>/notifytest.jsp</jsp-file>
    </servlet>

    <servlet>
        <servlet-name>tossReferencePage</servlet-name>
        <jsp-file>/tossReference.jsp</jsp-file>
    </servlet>

    <servlet>
        <servlet-name>imageReferencePage</servlet-name>
        <jsp-file>/imageReference.jsp</jsp-file>
    </servlet>

    <servlet>
        <servlet-name>userReferencePage</servlet-name>
        <jsp-file>/userReference.jsp</jsp-file>
    </servlet>

    <!-- SERVER JAVA SERVLETS -->
    <servlet>
        <servlet-name>UploadImage</servlet-name>
        <servlet-class>com.eweware.phototoss.api.UploadImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUserImages</servlet-name>
        <servlet-class>com.eweware.phototoss.api.GetUserImages</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetImage</servlet-name>
        <servlet-class>com.eweware.phototoss.api.GetImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartToss</servlet-name>
        <servlet-class>com.eweware.phototoss.api.StartToss</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CatchToss</servlet-name>
        <servlet-class>com.eweware.phototoss.api.CatchToss</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.eweware.phototoss.api.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAccount</servlet-name>
        <servlet-class>com.eweware.phototoss.api.CreateAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.eweware.phototoss.api.Logout</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>UserImage</servlet-name>
        <servlet-class>com.eweware.phototoss.api.UserImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatsProcessor</servlet-name>
        <servlet-class>com.eweware.phototoss.api.StatsProcessor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatsEnqueue</servlet-name>
        <servlet-class>com.eweware.phototoss.api.StatsEnqueue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotifyTest</servlet-name>
        <servlet-class>com.eweware.phototoss.api.NotifyTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageAuthorImage</servlet-name>
        <servlet-class>com.eweware.phototoss.api.ImageAuthorImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserInfo</servlet-name>
        <servlet-class>com.eweware.phototoss.api.UserInfo</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>FBLogin</servlet-name>
        <servlet-class>com.eweware.phototoss.api.FBLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageLineage</servlet-name>
        <servlet-class>com.eweware.phototoss.api.ImageLineage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageTosses</servlet-name>
        <servlet-class>com.eweware.phototoss.api.ImageTosses</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TossCatches</servlet-name>
        <servlet-class>com.eweware.phototoss.api.TossCatches</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TossStatus</servlet-name>
        <servlet-class>com.eweware.phototoss.api.GetTossStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecentActivity</servlet-name>
        <servlet-class>com.eweware.phototoss.api.RecentActivity</servlet-class>
    </servlet>

    <!-- server mappings - API -->

    <servlet-mapping>
        <servlet-name>RecentActivity</servlet-name>
        <url-pattern>/api/recent</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>TossStatus</servlet-name>
        <url-pattern>/api/toss/status</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UserInfo</servlet-name>
        <url-pattern>/api/user/info</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>TossCatches</servlet-name>
        <url-pattern>/api/toss/catches</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ImageLineage</servlet-name>
        <url-pattern>/api/image/lineage</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ImageTosses</servlet-name>
        <url-pattern>/api/image/tosses</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ImageAuthorImage</servlet-name>
        <url-pattern>/api/image/authorimage</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>NotifyTest</servlet-name>
        <url-pattern>/api/test/notify</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/api/user/login</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>FBLogin</servlet-name>
        <url-pattern>/api/user/facebooklogin</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CreateAccount</servlet-name>
        <url-pattern>/api/user/create</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/api/user/logout</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>GetUserImages</servlet-name>
        <url-pattern>/api/images</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>GetImage</servlet-name>
        <url-pattern>/api/image</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>StartToss</servlet-name>
        <url-pattern>/api/toss</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CatchToss</servlet-name>
        <url-pattern>/api/catch</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UserImage</servlet-name>
        <url-pattern>/api/user/image</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>StatsProcessor</servlet-name>
        <url-pattern>/api/stats/process</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>StatsEnqueue</servlet-name>
        <url-pattern>/api/stats/enqueue</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UploadImage</servlet-name>
        <url-pattern>/api/image/upload</url-pattern>
    </servlet-mapping>


    <!-- server mappings - WEB PAGES -->

    <servlet-mapping>
        <servlet-name>statstest</servlet-name>
        <url-pattern>/statstest</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>notifytestpage</servlet-name>
        <url-pattern>/notifytest</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>tossReferencePage</servlet-name>
        <url-pattern>/toss/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>imageReferencePage</servlet-name>
        <url-pattern>/image/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>userReferencePage</servlet-name>
        <url-pattern>/user/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>tossTest</servlet-name>
        <url-pattern>/tosstest</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>catchTest</servlet-name>
        <url-pattern>/catchtest</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>uploadTest</servlet-name>
        <url-pattern>/uploadTest</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>createUserTest</servlet-name>
        <url-pattern>/createtest</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>loginTest</servlet-name>
        <url-pattern>/signintest</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>userImageTest</servlet-name>
        <url-pattern>/userimagetest</url-pattern>
    </servlet-mapping>


   <!-- listeners and filters -->
    <listener>
        <listener-class>com.eweware.phototoss.PhotoTossServerListener</listener-class>
    </listener>

    <filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>
